<div class="creation_wrapper">
  <div class="creation_field">
    <div class="fields_box">
      <form accept-charset="UTF-8" action="/events" method="post">
        <div class="date_input">
          <input class="date optional string" placeholder="Date" type="date" value="11/12/15" name= event[date] id="date">
          <span class="calendar_image"></span>

        </div>

          <div class=location_input">
          <input class="date optional string" placeholder="Location" type="text" name= event[location] id="date">
          <span class="location image"></span>
        </div>
    </div>
        <div class="vertical field">
          <div class="price">
            <input class="date optional string" placeholder="Price" type="text" name= event[price] id="price">
          <span class="price image"></span>
          </div>

          <div class="players">
            <input class="date optional string" placeholder="Players in team" type="number" name= event[players_amount] id="price">
          <span class="prise image"></span>
          </div>
        </div>

        <div class="time">
          <input class="date optional string" placeholder="Time" type="text" name= event[time] id="time">
          <span class="time image"></span>
        </div>

        <input type="submit" name="commit" value="CREATE"  class="date optional string" id="btn_create">
      </form>
  </div



</div>
