<div class="header">
      <div class ="logo">
        <div class="menu">
          <li><a title="Create Event Now" href="/events/new" id="create-icon"></a></li>
            <li><a title="Available Events" href="/" id="active-icon"></a></li>
            <li><a title="Finished Events"  href="#" id="finish-icon"></a></li>
          </div>
      </div>
</div>
